@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --nav-color: rgba(255, 255, 255, 0.91);
    --nav-item-color: #262626;
    --nav-item-color-active: #5AB612;
    --nav-item-circle-color: #515151;
    --nav-item-circle-color-active: #4EAF4E;
    --nav-button-bg-color: #f3f3f3;
    --nav-button-icon-color: #FFC32B;
    --logo: url("../image/nav/logo.png");
    --phone: url("../image/nav/phone.svg");
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-color);
    backdrop-filter: blur(10.5px);
    padding: 2.5rem 0;
    gap: 6.56rem;

}

.nav__logo {
    min-width: 11.4212rem;
    min-height: 1.9375rem;
    background: var(--logo) no-repeat;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
}

.nav__item {
    color: var(--nav-item-color);
    transition: all .3s ease;
}

.nav__item::before {
    position: absolute;
    content: "";
    padding: .27rem;
    margin: .37rem 0 0 -1.1rem;
    border-radius: 100%;
    border: var(--nav-item-circle-color) .0625rem solid;
    transition: all .3s ease;

}

.nav__item:hover {
    color: var(--nav-item-color-active);
}

.nav__item:hover::before {
    background-color: var(--nav-item-circle-color-active);
    border-color: var(--nav-item-circle-color-active);
}

.nav__button {
    min-width: 12rem;
    background-color: var(--nav-button-bg-color);
    border-radius: 2.625rem;
    padding: 1rem 2.5625rem 1rem .625rem;
    transition: all .5s ease-in-out;
}

.nav__button::before {
    position: absolute;
    margin-top: -.7rem;
    content: "";
    padding: 1.35rem;
    background-color: var(--nav-button-icon-color);
    background-image: var(--phone);
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 1.35rem;
    transition: padding-left 1s ease;
}

.nav__button:hover .nav__button-select {
    left: 1.7rem;
}

.nav__button:hover::before {
    padding-left: 12.6rem;
}

.nav__button-select {
    position: relative;
    left: 3.4rem;
    bottom: .1rem;
    transition: all 1s ease;
}

.text_lato {
    font-family: 'Lato', sans-serif;
}

.text_regular {
    font-weight: 400;
}

.text_bold {
    font-weight: 700;
}

.text_size-18 {
    font-size: 18px;
}